/* Bộ chọn tất cả*/
*{
    /* reset css*/
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    background-image: image(url);
}
/* Bộ chọn theo tên thẻ HTML - tagName */
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8rem;
    

}
span{
    font-weight: bold;
}
/* Bộ chọn theo quan hệ */
/* tag1 tag2 - tất cả các thẻ tag2 nằm trong thẻ tag1*/
ul li{
    color: brown;

}
/* tag1>tag2 - quan hệ cha con ruột*/
/* tag1,tag2... - liệt kê*/
h1,a,p{
    color: blue !important; /* !important - dùng để nhấn mạnh mức độ ưu tiên của css*/

}
/* tag1 +tag2 - lấy duy nhất 1 phần tử tag2 đứng ngay sau tag1*/

/* Bộ chọn theo định danh */
/* Class - chọn tất cả phần tử có chung class*/

div>.box-item{
    color: white;
    width: 6rem;
    height: 6rem;
    background-color: brown;
    border: 1px solid gray;
    margin: 0.6rem;
    font-size: 100%;
    border-radius: 50%;
    text-align: center;
    line-height: 6rem; /* căn giữa 1 nội dung trong khối sử dụng kết hơp text-align và line-height (line-height bằng height)*/

}
/*id - định danh duy nhất - chọn một*/
#box {
    background-color:cadetblue;
    font-size: 4rem; /* rem phụ thuộc vào font-size của HTML; 1rem = 1 font-size*/
   /* display: none;*/
   width: 60vw; /*độ rộng bằng 60% độ rộng*/
   height: 50vh;/* chiều cao bằng 50% chiều cao*/
}
/* bộ chọn before/after*/

p > span#text{
    margin: 10px;
}
p > span#text::before {
    content:"2023";
    color: blueviolet;
    margin-left: 10px;
}
ul :last-child{
    color: violet;
}
input:focus

h1:hover{
    background-color: pink;
    opacity: 0.5;
}
ul :nth-child(3) {
    color: burlywood;
    font-size: 80px !important;
}
p::after{
    content:"Javascript";
    color: blueviolet;
    font-size: 40px;
}
p::before{
    content:"HTML";
    color: brown;
    font-size: 40px;

}
h3:hover{
    background-color: blueviolet;
    font-size: 50px;
}
ul :nth-child(2){
    color: aquamarine !important;
    font-size: 60px !important;
}
ul :nth-last-child(2){
    color: blue;
    font-size: 50px;
}
/* để căn giữa thẻ inline, biến thẻ inline thành thẻ block (dùng display:block), bắt buộc có thuộc tính width, sau đó chọn margin:auto*/
