li{
    list-style-type: none;
    padding: 12px;
   
}
div {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: brown;
    background-color: bisque;
    text-align: center;
    padding: 10px;
}

ul{
    background-image: url("https: //m.baotuyenquang.com.vn/media/images/2018/04/Sacmnmac2.jpg");
    background: no-repeat; 
}